<nav class="menu footer-menu grid-container" >
  <div id="site-footer-nav" class="grid-x grid-padding-x">
    {% include "@molecules/menu/_fmenu.twig" with {
      menu_class: "footer-menu",
      footer_items: footer_menu.menu_items,
    } %}
  </div>
</nav>
