@use '../../../00-base/defaults/breakpoints' as br;
@use '../../../00-base/colors/colors' as colors;
@use '../../../00-base/mixins/' as mx;
@use '../../../00-base/defaults/variables' as vars;

/* A */
.main-menu__link {
  @include mx.font-sans-semibold;
  @include mx.font-size-16;

  line-height: 1.2;
  display: block;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  color: colors.$white;
  text-decoration: none;
  text-transform: uppercase;

  &--with-sub {
    color: white;

    @include br.large {
      color: black;
    }
  }

  &:focus,
  &:hover {
    color: colors.$pih-orange;

    @include br.large {
      background-color: clr(accent-high);
      color: clr(highlight-high);
    }
  }

  @include br.large {
    @include mx.font-sans-semibold;
    @include mx.font-size-16;
    @include mx.letter-spacing-half;

    color: black;
    position: relative;
    display: inline-block;
    padding: 12px;
    margin-right: 8px;
    width: auto;
    border-bottom: none;
    text-transform: uppercase;

    // &::after {
    //   display: inline-block;
    //   content: '↓';
    // }

    &--sub::after {
      display: none;
    }
  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  @include mx.font-sans-regular;

  padding-left: vars.$space-32px;
  // color: clr(accent);
  color: colors.$white;
  text-transform: capitalize;

  @include br.large {
    display: block;
    padding: vars.$space-8px vars.$space;
    color: clr(highlight);
  }
}

.main-menu--sub-2 {
  background-color: clr(highlight-high);
}

.main-menu__link--sub-2 {
  padding-left: vars.$space-48px;
}
