<p><span style="font-weight: 600;">Source Serif 4</span> and <span style="font-weight: 600;">Source Sans 3</span> are the primary combination of <i>serif</i> and <i>sanserif</i> typefaces that we use for our web products. They have well-proportioned glyphs, extended character sets, ample counters, open shapes, and small file sizes.
</p>

<h3 style="font-weight: 400; font-family: 'Source Serif 4'; text-transform: capitalize;margin: 2em 0; color:#8e8e8e;">Source Serif 4</h3>
<p style="font-weight: 600; font-family: 'Source Serif 4';font-size: 5em;margin: 0;margin-top: -16px; font-size: 5em;">AaBbCc</p>


<h3 style="font-weight: 400; font-family: 'Source Sans 3'; text-transform: capitalize;margin: 4em 0 2em;color:#8e8e8e;">Source Sans 3</h3>
<p style="font-family: 'Source Serif 4';font-size: 5em;margin: 0;margin-top: -16px; font-weight: 600; font-family: 'Source Sans 3'; font-size: 5em;">AaBbCc</p>
